html, body {
  margin: 0;
  height: 100%;
  min-height: 80%;
}

.body-container {
  min-width: 600px;
  min-height: 80%;
}

.body-paper {
  min-height: 80%;
  padding: 10px;
}

/*
  top menu
*/
.topmenu-appbar {
  width: 100%;
  background-color: #E7717D !important;
}

a:visited {
  color: black !important;
}

/* 
  TaskList components papers
*/
.task-panels {
  display: flex;
  flex-direction: column;
  margin: 2px 10%;
}

.task-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  background-color: #C2CAD0 !important;
}

.expansion-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

.MuiExpansionPanelSummary-content {
  justify-content: space-between;
}

.task-panel-item {
  padding-left: 5px;
  margin-right: 5px;
  align-self: center;
  min-width: 80px;
  flex-grow: 1;
}

.task-panel-item > label {
  font-weight: bold;
}

.start {
  display: flex;
  max-width: 200px;
  min-width: 80px;
}

.end {
  display: flex;
  flex-direction: row;
}

/*
  TaskList components addbutton
*/
.LisääButton {
  position: relative;
  top: 8px;
  left: 40px;
  z-index: 2;
  color: rgb(123, 160, 63) !important;
  border: 1px solid #E7717D !important;
  border-radius: 30px !important;
  font-size: 16px !important;
}

.AddButton {
  position: relative;
  top: 8px;
  left: 40px;
  z-index: 2;
  color: rgb(123, 160, 63) !important;
  border: 1px solid #E7717D !important;
  border-radius: 30px !important;
  font-size: 16px !important;
}

/*
  Edit button
*/
.MuokkaaButton {
  color: #7E685A !important;
  font-size: 20px !important;
}

.EditButton {
  color: #7E685A !important;
  font-size: 20px !important;
}
.form-control-edit-button {
  margin-right: 8px !important;
}

/*
  Delete button
*/
.delete-button {
  color: #E7717D !important;
}

/*
  About page
*/
.about-paper {
  margin: 15px 100px 0px 100px;
  height: 60vh;
  background-color: #C2CAD0 !important;
}

.about-content {
  overflow: visible;
  text-align: left;
  padding: 5px 20px 0px 20px;
  font-size: large;
}

/*
  Dialog form
*/
.form-dialog-inputs {
  margin: 10px;
}